body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

h2 {
  text-align: center;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav.main-nav {
  background-color: #333;
  padding: 10px 0;
}

nav.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.main-nav ul li {
  display: inline;
  margin: 0 15px;
}

nav.main-nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav.main-nav ul li a:hover {
  text-decoration: underline;
}
