<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>início</title>
    <link rel="stylesheet" href="/html/css/geral.css">
    <link rel="stylesheet" href="/html/css/geral-tailwind.css">
</head>

<body>
    <h1>Bem-vindo à página inicial!</h1>
    <p>Esta é a página inicial do nosso aplicativo.</p>
    <fieldset>
        <legend>Links Úteis</legend>
        <ul>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
            <li><a href="/"></a></li>
        </ul>
    </fieldset>
    <div class="pesquisar">
        <input type="text" placeholder="Pesquisar...">
        <button type="button" id="pesquisar">Buscar</button>
    </div>
    <div class="personas">
        <h2>Personas</h2>
        <ul id="lista-personas">
        </ul>
    </div>
    <script src="/html/js/geral.js">
    </script>
</body>

</html>