<!DOCTYPE htm>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link href="/nginx/html/css/home.css" rel="stylesheet">
</head>

<body>
    <h1>Bem-vindo ao Minex Gaming</h1>
    <nav class="main-nav">
        <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Registrar</a></li>
            <li><a href="explore.html">Explorar</a></li>
        </ul>
    </nav>
</body>

</html>